.upper {
  display: flex;
  margin-bottom: 8px;

  .upperName {
    font-size: 14px;
    line-height: 21px;
    color: #2F3B66;
    margin-right: 8px;
  }
}

.tooltipContent {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
}
