.container {
  display: flex;
  align-items: center;
  width: 150px;
}

.logo {
  margin-right: 12px;
}

.name {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #222A41;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90px;
}

.input {
  background: #FFFFFF;
  border: 1px solid rgba(178, 187, 213, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #B2BBD5;

  &Img {
    vertical-align: middle;
  }
}
