table {
  table-layout: fixed;
  width: 120px;
}

th {
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  color: #97A4C8;
  width: 120px;
  text-align: start;
}

.firstCol {
  width: 262px;
}
