.container {
  display: flex;
  flex-wrap: wrap;
  padding: 14px;
  align-items: center;
}

.sumTitle {
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  color: #97A4C8;
  text-align: start;
  width: 150px;
}

.names {
  display: flex;
  column-gap: 16px;
}

.name {
  width: 80px;
}
