.popup-content {
  width: 289px;
  background: black;
  opacity: 0.8;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.popup-arrow {
  width: 15px;
  height: 8px;
  color: black;
  opacity: 0.9;
}
